labs/lab3/Lab_3__Data_Movement.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?><template><description></description><name>Lab 3: Data Movement</name><snippet><processGroups><id>ef124937-ccb2-4c39-8eb5-a23cd22877c6</id><parentGroupId>7c0dacf2-69dd-4a9e-abc5-a7675185fafc</parentGroupId><position><x>8.400075493803229</x><y>467.7999563046563</y></position><activeRemotePortCount>0</activeRemotePortCount><comments></comments><contents><connections><id>260ef047-dbd6-4a60-90a7-6d40bd009715</id><parentGroupId>ef124937-ccb2-4c39-8eb5-a23cd22877c6</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>ef124937-ccb2-4c39-8eb5-a23cd22877c6</groupId><id>0bd7146d-f7f3-4268-a8d5-945735a13bcf</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>ef124937-ccb2-4c39-8eb5-a23cd22877c6</groupId><id>79850992-7dd3-443b-a065-e830402b8a09</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>cf6aa15f-6ae7-443f-b419-d84e8a2d45a8</id><parentGroupId>ef124937-ccb2-4c39-8eb5-a23cd22877c6</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><bends><x>490.79998779296875</x><y>728.2999877929688</y></bends><bends><x>490.79998779296875</x><y>75.49999237060547</y></bends><destination><groupId>ef124937-ccb2-4c39-8eb5-a23cd22877c6</groupId><id>ac1ef418-b4e0-4ec8-84b7-064919e51250</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>0</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>ef124937-ccb2-4c39-8eb5-a23cd22877c6</groupId><id>04090fc2-fca8-4beb-9e33-a31f19a38317</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>4a099698-42c3-4641-bd61-2f26bb8dc6fa</id><parentGroupId>ef124937-ccb2-4c39-8eb5-a23cd22877c6</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>ef124937-ccb2-4c39-8eb5-a23cd22877c6</groupId><id>8cd6afc8-25ab-4780-9a04-d4de0c99e705</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>ef124937-ccb2-4c39-8eb5-a23cd22877c6</groupId><id>65dff444-cf82-44df-b54b-5bc19221cc73</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>99a5255e-699f-41ba-b362-d4e7797c6818</id><parentGroupId>ef124937-ccb2-4c39-8eb5-a23cd22877c6</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>ef124937-ccb2-4c39-8eb5-a23cd22877c6</groupId><id>5715ed8f-1704-4fbf-8fa5-822c52a69ff8</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>ef124937-ccb2-4c39-8eb5-a23cd22877c6</groupId><id>ac1ef418-b4e0-4ec8-84b7-064919e51250</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>c5aa4f70-3da9-4014-9067-9a2057a403df</id><parentGroupId>ef124937-ccb2-4c39-8eb5-a23cd22877c6</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>ef124937-ccb2-4c39-8eb5-a23cd22877c6</groupId><id>65dff444-cf82-44df-b54b-5bc19221cc73</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>ef124937-ccb2-4c39-8eb5-a23cd22877c6</groupId><id>5715ed8f-1704-4fbf-8fa5-822c52a69ff8</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>59f34ffa-8f9a-4050-a370-6b819e0a57d9</id><parentGroupId>ef124937-ccb2-4c39-8eb5-a23cd22877c6</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>ef124937-ccb2-4c39-8eb5-a23cd22877c6</groupId><id>04090fc2-fca8-4beb-9e33-a31f19a38317</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>ef124937-ccb2-4c39-8eb5-a23cd22877c6</groupId><id>0bd7146d-f7f3-4268-a8d5-945735a13bcf</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>39e15c63-1429-4639-a065-51e99b21c869</id><parentGroupId>ef124937-ccb2-4c39-8eb5-a23cd22877c6</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>ef124937-ccb2-4c39-8eb5-a23cd22877c6</groupId><id>79850992-7dd3-443b-a065-e830402b8a09</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>ef124937-ccb2-4c39-8eb5-a23cd22877c6</groupId><id>f438dc43-9e1e-4489-9327-54a953efac47</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><processors><id>8cd6afc8-25ab-4780-9a04-d4de0c99e705</id><parentGroupId>ef124937-ccb2-4c39-8eb5-a23cd22877c6</parentGroupId><position><x>688.800046502104</x><y>675.5000112362969</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Directory</key><value><description>The directory to which files should be written. You may use expression language such as /aa/bb/${path}</description><displayName>Directory</displayName><dynamic>false</dynamic><name>Directory</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Conflict Resolution Strategy</key><value><allowableValues><displayName>replace</displayName><value>replace</value></allowableValues><allowableValues><displayName>ignore</displayName><value>ignore</value></allowableValues><allowableValues><displayName>fail</displayName><value>fail</value></allowableValues><defaultValue>fail</defaultValue><description>Indicates what should happen when a file with the same name already exists in the output directory</description><displayName>Conflict Resolution Strategy</displayName><dynamic>false</dynamic><name>Conflict Resolution Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Create Missing Directories</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>If true, then missing destination directories will be created. If false, flowfiles are penalized and sent to failure.</description><displayName>Create Missing Directories</displayName><dynamic>false</dynamic><name>Create Missing Directories</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum File Count</key><value><description>Specifies the maximum number of files that can exist in the output directory</description><displayName>Maximum File Count</displayName><dynamic>false</dynamic><name>Maximum File Count</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Last Modified Time</key><value><description>Sets the lastModifiedTime on the output file to the value of this attribute.  Format must be yyyy-MM-dd'T'HH:mm:ssZ.  You may also use expression language such as ${file.lastModifiedTime}.</description><displayName>Last Modified Time</displayName><dynamic>false</dynamic><name>Last Modified Time</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Permissions</key><value><description>Sets the permissions on the output file to the value of this attribute.  Format must be either UNIX rwxrwxrwx with a - in place of denied permissions (e.g. rw-r--r--) or an octal number (e.g. 644).  You may also use expression language such as ${file.permissions}.</description><displayName>Permissions</displayName><dynamic>false</dynamic><name>Permissions</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Owner</key><value><description>Sets the owner on the output file to the value of this attribute.  You may also use expression language such as ${file.owner}.</description><displayName>Owner</displayName><dynamic>false</dynamic><name>Owner</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Group</key><value><description>Sets the group on the output file to the value of this attribute.  You may also use expression language such as ${file.group}.</description><displayName>Group</displayName><dynamic>false</dynamic><name>Group</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Directory</key><value>/Users/jfrazee/Documents/Projects/hortonworks/nifi-master-class/labs/lab3/output</value></entry><entry><key>Conflict Resolution Strategy</key></entry><entry><key>Create Missing Directories</key></entry><entry><key>Maximum File Count</key></entry><entry><key>Last Modified Time</key></entry><entry><key>Permissions</key></entry><entry><key>Owner</key></entry><entry><key>Group</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>PutFile</name><relationships><autoTerminate>true</autoTerminate><description>Files that could not be written to the output directory for some reason are transferred to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>Files that have been successfully written to the output directory are transferred to this relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.PutFile</type></processors><processors><id>0bd7146d-f7f3-4268-a8d5-945735a13bcf</id><parentGroupId>ef124937-ccb2-4c39-8eb5-a23cd22877c6</parentGroupId><position><x>44.40000377749472</x><y>473.8999807187188</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Schema Output Destination</key><value><allowableValues><displayName>flowfile-attribute</displayName><value>flowfile-attribute</value></allowableValues><allowableValues><displayName>flowfile-content</displayName><value>flowfile-content</value></allowableValues><defaultValue>flowfile-content</defaultValue><description>Control if Avro schema is written as a new flowfile attribute 'inferred.avro.schema' or written in the flowfile content. Writing to flowfile content will overwrite any existing flowfile content.</description><displayName>Schema Output Destination</displayName><dynamic>false</dynamic><name>Schema Output Destination</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Input Content Type</key><value><allowableValues><displayName>use mime.type value</displayName><value>use mime.type value</value></allowableValues><allowableValues><displayName>json</displayName><value>json</value></allowableValues><allowableValues><displayName>csv</displayName><value>csv</value></allowableValues><defaultValue>use mime.type value</defaultValue><description>Content Type of data present in the incoming FlowFile's content. Only &quot;json&quot; or &quot;csv&quot; are supported. If this value is set to &quot;use mime.type value&quot; the incoming Flowfile's attribute &quot;MIME_TYPE&quot; will be used to determine the Content Type.</description><displayName>Input Content Type</displayName><dynamic>false</dynamic><name>Input Content Type</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>CSV Header Definition</key><value><description>This property only applies to CSV content type. Comma separated string defining the column names expected in the CSV data. EX: &quot;fname,lname,zip,address&quot;. The elements present in this string should be in the same order as the underlying data. Setting this property will cause the value of &quot;Get CSV Header Definition From Data&quot; to be ignored instead using this value.</description><displayName>CSV Header Definition</displayName><dynamic>false</dynamic><name>CSV Header Definition</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Get CSV Header Definition From Data</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>This property only applies to CSV content type. If &quot;true&quot; the processor will attempt to read the CSV header definition from the first line of the input data.</description><displayName>Get CSV Header Definition From Data</displayName><dynamic>false</dynamic><name>Get CSV Header Definition From Data</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>CSV Header Line Skip Count</key><value><defaultValue>0</defaultValue><description>This property only applies to CSV content type. Specifies the number of lines that should be skipped when reading the CSV data. Setting this value to 0 is equivalent to saying &quot;the entire contents of the file should be read&quot;. If the property &quot;Get CSV Header Definition From Data&quot; is set then the first line of the CSV  file will be read in and treated as the CSV header definition. Since this will remove the header line from the data care should be taken to make sure the value of &quot;CSV header Line Skip Count&quot; is set to 0 to ensure no data is skipped.</description><displayName>CSV Header Line Skip Count</displayName><dynamic>false</dynamic><name>CSV Header Line Skip Count</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>CSV delimiter</key><value><defaultValue>,</defaultValue><description>Delimiter character for CSV records</description><displayName>CSV delimiter</displayName><dynamic>false</dynamic><name>CSV delimiter</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>CSV Escape String</key><value><defaultValue>\</defaultValue><description>This property only applies to CSV content type. String that represents an escape sequence in the CSV FlowFile content data.</description><displayName>CSV Escape String</displayName><dynamic>false</dynamic><name>CSV Escape String</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>CSV Quote String</key><value><defaultValue>'</defaultValue><description>This property only applies to CSV content type. String that represents a literal quote character in the CSV FlowFile content data.</description><displayName>CSV Quote String</displayName><dynamic>false</dynamic><name>CSV Quote String</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Pretty Avro Output</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>If true the Avro output will be formatted.</description><displayName>Pretty Avro Output</displayName><dynamic>false</dynamic><name>Pretty Avro Output</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Avro Record Name</key><value><description>Value to be placed in the Avro record schema &quot;name&quot; field.</description><displayName>Avro Record Name</displayName><dynamic>false</dynamic><name>Avro Record Name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Number Of Records To Analyze</key><value><defaultValue>10</defaultValue><description>This property only applies to JSON content type. The number of JSON records that should be examined to determine the Avro schema. The higher the value the better chance kite has of detecting the appropriate type. However the default value of 10 is almost always enough.</description><displayName>Number Of Records To Analyze</displayName><dynamic>false</dynamic><name>Number Of Records To Analyze</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Charset</key><value><defaultValue>UTF-8</defaultValue><description>Character encoding of CSV data.</description><displayName>Charset</displayName><dynamic>false</dynamic><name>Charset</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Schema Output Destination</key><value>flowfile-attribute</value></entry><entry><key>Input Content Type</key><value>csv</value></entry><entry><key>CSV Header Definition</key></entry><entry><key>Get CSV Header Definition From Data</key></entry><entry><key>CSV Header Line Skip Count</key><value>0</value></entry><entry><key>CSV delimiter</key></entry><entry><key>CSV Escape String</key></entry><entry><key>CSV Quote String</key></entry><entry><key>Pretty Avro Output</key></entry><entry><key>Avro Record Name</key><value>record</value></entry><entry><key>Number Of Records To Analyze</key><value>100</value></entry><entry><key>Charset</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>InferAvroSchema</name><relationships><autoTerminate>true</autoTerminate><description>Failed to create Avro schema from data.</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>Original incoming FlowFile data</description><name>original</name></relationships><relationships><autoTerminate>false</autoTerminate><description>Successfully created Avro schema from data.</description><name>success</name></relationships><relationships><autoTerminate>true</autoTerminate><description>The content found in the flowfile content is not of the required format.</description><name>unsupported content</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.kite.InferAvroSchema</type></processors><processors><id>ac1ef418-b4e0-4ec8-84b7-064919e51250</id><parentGroupId>ef124937-ccb2-4c39-8eb5-a23cd22877c6</parentGroupId><position><x>674.4000342950727</x><y>25.10000055514456</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>JSON container options</key><value><allowableValues><displayName>none</displayName><value>none</value></allowableValues><allowableValues><displayName>array</displayName><value>array</value></allowableValues><defaultValue>array</defaultValue><description>Determines how stream of records is exposed: either as a sequence of single Objects (none) (i.e. writing every Object to a new line), or as an array of Objects (array).</description><displayName>JSON container options</displayName><dynamic>false</dynamic><name>JSON container options</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Wrap Single Record</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Determines if the resulting output for empty records or a single record should be wrapped in a container array as specified by 'JSON container options'</description><displayName>Wrap Single Record</displayName><dynamic>false</dynamic><name>Wrap Single Record</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>JSON container options</key></entry><entry><key>Wrap Single Record</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>ConvertAvroToJSON</name><relationships><autoTerminate>true</autoTerminate><description>A FlowFile is routed to this relationship if it cannot be parsed as Avro or cannot be converted to JSON for any reason</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>A FlowFile is routed to this relationship after it has been converted to JSON</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.avro.ConvertAvroToJSON</type></processors><processors><id>04090fc2-fca8-4beb-9e33-a31f19a38317</id><parentGroupId>ef124937-ccb2-4c39-8eb5-a23cd22877c6</parentGroupId><position><x>43.20002056216265</x><y>681.4999486752617</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Hadoop configuration files</key><value><description>A comma-separated list of Hadoop configuration files</description><displayName>Hadoop configuration files</displayName><dynamic>false</dynamic><name>Hadoop configuration files</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Record schema</key><value><description>Outgoing Avro schema for each record created from a CSV row</description><displayName>Record schema</displayName><dynamic>false</dynamic><name>Record schema</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>CSV charset</key><value><defaultValue>utf8</defaultValue><description>Character set for CSV files</description><displayName>CSV charset</displayName><dynamic>false</dynamic><name>CSV charset</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>CSV delimiter</key><value><defaultValue>,</defaultValue><description>Delimiter character for CSV records</description><displayName>CSV delimiter</displayName><dynamic>false</dynamic><name>CSV delimiter</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>CSV quote character</key><value><defaultValue>&quot;</defaultValue><description>Quote character for CSV values</description><displayName>CSV quote character</displayName><dynamic>false</dynamic><name>CSV quote character</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>CSV escape character</key><value><defaultValue>\</defaultValue><description>Escape character for CSV values</description><displayName>CSV escape character</displayName><dynamic>false</dynamic><name>CSV escape character</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Use CSV header line</key><value><defaultValue>false</defaultValue><description>Whether to use the first line as a header</description><displayName>Use CSV header line</displayName><dynamic>false</dynamic><name>Use CSV header line</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Lines to skip</key><value><defaultValue>0</defaultValue><description>Number of lines to skip before reading header or data</description><displayName>Lines to skip</displayName><dynamic>false</dynamic><name>Lines to skip</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Hadoop configuration files</key></entry><entry><key>Record schema</key><value>${inferred.avro.schema}</value></entry><entry><key>CSV charset</key></entry><entry><key>CSV delimiter</key></entry><entry><key>CSV quote character</key></entry><entry><key>CSV escape character</key></entry><entry><key>Use CSV header line</key></entry><entry><key>Lines to skip</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>ConvertCSVToAvro</name><relationships><autoTerminate>true</autoTerminate><description>CSV content that could not be processed</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>CSV content that could not be converted</description><name>incompatible</name></relationships><relationships><autoTerminate>false</autoTerminate><description>Avro content that was converted successfully from CSV</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.kite.ConvertCSVToAvro</type></processors><processors><id>5715ed8f-1704-4fbf-8fa5-822c52a69ff8</id><parentGroupId>ef124937-ccb2-4c39-8eb5-a23cd22877c6</parentGroupId><position><x>679.199997673979</x><y>249.49999292575006</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Delete Attributes Expression</key><value><description>Regular expression for attributes to be deleted from flowfiles.</description><displayName>Delete Attributes Expression</displayName><dynamic>false</dynamic><name>Delete Attributes Expression</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>filename</key><value><description></description><displayName>filename</displayName><dynamic>true</dynamic><name>filename</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Delete Attributes Expression</key></entry><entry><key>filename</key><value>${filename:replaceAll(&quot;\.csv\.avro&quot;, &quot;.json&quot;)}</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>UpdateAttribute</name><relationships><autoTerminate>false</autoTerminate><description>All FlowFiles are routed to this relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.attributes.UpdateAttribute</type></processors><processors><id>79850992-7dd3-443b-a065-e830402b8a09</id><parentGroupId>ef124937-ccb2-4c39-8eb5-a23cd22877c6</parentGroupId><position><x>41.99999767397901</x><y>243.99999902926567</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Hostname</key><value><description>The fully-qualified hostname or IP address of the host to fetch the data from</description><displayName>Hostname</displayName><dynamic>false</dynamic><name>Hostname</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Port</key><value><defaultValue>22</defaultValue><description>The port to connect to on the remote host to fetch the data from</description><displayName>Port</displayName><dynamic>false</dynamic><name>Port</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Username</key><value><description>Username</description><displayName>Username</displayName><dynamic>false</dynamic><name>Username</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Password</key><value><description>Password for the user account</description><displayName>Password</displayName><dynamic>false</dynamic><name>Password</name><required>false</required><sensitive>true</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Private Key Path</key><value><description>The fully qualified path to the Private Key file</description><displayName>Private Key Path</displayName><dynamic>false</dynamic><name>Private Key Path</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Private Key Passphrase</key><value><description>Password for the private key</description><displayName>Private Key Passphrase</displayName><dynamic>false</dynamic><name>Private Key Passphrase</name><required>false</required><sensitive>true</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Remote File</key><value><description>The fully qualified filename on the remote system</description><displayName>Remote File</displayName><dynamic>false</dynamic><name>Remote File</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Completion Strategy</key><value><allowableValues><description>Leave the file as-is</description><displayName>None</displayName><value>None</value></allowableValues><allowableValues><description>Move the file to the directory specified by the &lt;Move Destination Directory&gt; property</description><displayName>Move File</displayName><value>Move File</value></allowableValues><allowableValues><description>Deletes the original file from the remote system</description><displayName>Delete File</displayName><value>Delete File</value></allowableValues><defaultValue>None</defaultValue><description>Specifies what to do with the original file on the server once it has been pulled into NiFi. If the Completion Strategy fails, a warning will be logged but the data will still be transferred.</description><displayName>Completion Strategy</displayName><dynamic>false</dynamic><name>Completion Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Move Destination Directory</key><value><description>The directory on the remote server to the move the original file to once it has been ingested into NiFi. This property is ignored unless the Completion Strategy is set to &quot;Move File&quot;. The specified directory must already exist onthe remote system, or the rename will fail.</description><displayName>Move Destination Directory</displayName><dynamic>false</dynamic><name>Move Destination Directory</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Connection Timeout</key><value><defaultValue>30 sec</defaultValue><description>Amount of time to wait before timing out while creating a connection</description><displayName>Connection Timeout</displayName><dynamic>false</dynamic><name>Connection Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Data Timeout</key><value><defaultValue>30 sec</defaultValue><description>When transferring a file between the local and remote system, this value specifies how long is allowed to elapse without any data being transferred between systems</description><displayName>Data Timeout</displayName><dynamic>false</dynamic><name>Data Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Send Keep Alive On Timeout</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Indicates whether or not to send a single Keep Alive message when SSH socket times out</description><displayName>Send Keep Alive On Timeout</displayName><dynamic>false</dynamic><name>Send Keep Alive On Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Host Key File</key><value><description>If supplied, the given file will be used as the Host Key; otherwise, no use host key file will be used</description><displayName>Host Key File</displayName><dynamic>false</dynamic><name>Host Key File</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Strict Host Key Checking</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Indicates whether or not strict enforcement of hosts keys should be applied</description><displayName>Strict Host Key Checking</displayName><dynamic>false</dynamic><name>Strict Host Key Checking</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Use Compression</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Indicates whether or not ZLIB compression should be used when transferring files</description><displayName>Use Compression</displayName><dynamic>false</dynamic><name>Use Compression</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Hostname</key><value>${sftp.remote.host}</value></entry><entry><key>Port</key><value>${sftp.remote.port}</value></entry><entry><key>Username</key><value>${sftp.listing.user}</value></entry><entry><key>Password</key></entry><entry><key>Private Key Path</key><value>/Users/jfrazee/Documents/Projects/hortonworks/nifi-master-class/labs/lab3/id_nifi_rsa</value></entry><entry><key>Private Key Passphrase</key></entry><entry><key>Remote File</key><value>${path}/${filename}</value></entry><entry><key>Completion Strategy</key></entry><entry><key>Move Destination Directory</key></entry><entry><key>Connection Timeout</key></entry><entry><key>Data Timeout</key></entry><entry><key>Send Keep Alive On Timeout</key></entry><entry><key>Host Key File</key></entry><entry><key>Strict Host Key Checking</key></entry><entry><key>Use Compression</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>FetchSFTP</name><relationships><autoTerminate>true</autoTerminate><description>Any FlowFile that could not be fetched from the remote server due to a communications failure will be transferred to this Relationship.</description><name>comms.failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>Any FlowFile for which we receive a 'Not Found' message from the remote server will be transferred to this Relationship.</description><name>not.found</name></relationships><relationships><autoTerminate>true</autoTerminate><description>Any FlowFile that could not be fetched from the remote server due to insufficient permissions will be transferred to this Relationship.</description><name>permission.denied</name></relationships><relationships><autoTerminate>false</autoTerminate><description>All FlowFiles that are received are routed to success</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.FetchSFTP</type></processors><processors><id>f438dc43-9e1e-4489-9327-54a953efac47</id><parentGroupId>ef124937-ccb2-4c39-8eb5-a23cd22877c6</parentGroupId><position><x>39.99999767397901</x><y>30.999999029265666</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Hostname</key><value><description>The fully qualified hostname or IP address of the remote system</description><displayName>Hostname</displayName><dynamic>false</dynamic><name>Hostname</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Port</key><value><defaultValue>22</defaultValue><description>The port to connect to on the remote host to fetch the data from</description><displayName>Port</displayName><dynamic>false</dynamic><name>Port</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Username</key><value><description>Username</description><displayName>Username</displayName><dynamic>false</dynamic><name>Username</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Password</key><value><description>Password for the user account</description><displayName>Password</displayName><dynamic>false</dynamic><name>Password</name><required>false</required><sensitive>true</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Private Key Path</key><value><description>The fully qualified path to the Private Key file</description><displayName>Private Key Path</displayName><dynamic>false</dynamic><name>Private Key Path</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Private Key Passphrase</key><value><description>Password for the private key</description><displayName>Private Key Passphrase</displayName><dynamic>false</dynamic><name>Private Key Passphrase</name><required>false</required><sensitive>true</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Remote Path</key><value><defaultValue>.</defaultValue><description>The path on the remote system from which to pull or push files</description><displayName>Remote Path</displayName><dynamic>false</dynamic><name>Remote Path</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Distributed Cache Service</key><value><description>Specifies the Controller Service that should be used to maintain state about what has been pulled from the remote server so that if a new node begins pulling data, it won't duplicate all of the work that has been done. If not specified, the information will not be shared across the cluster. This property does not need to be set for standalone instances of NiFi but should be configured if NiFi is run within a cluster.</description><displayName>Distributed Cache Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService><name>Distributed Cache Service</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Search Recursively</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>If true, will pull files from arbitrarily nested subdirectories; otherwise, will not traverse subdirectories</description><displayName>Search Recursively</displayName><dynamic>false</dynamic><name>Search Recursively</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>File Filter Regex</key><value><description>Provides a Java Regular Expression for filtering Filenames; if a filter is supplied, only files whose names match that Regular Expression will be fetched</description><displayName>File Filter Regex</displayName><dynamic>false</dynamic><name>File Filter Regex</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Path Filter Regex</key><value><description>When Search Recursively is true, then only subdirectories whose path matches the given Regular Expression will be scanned</description><displayName>Path Filter Regex</displayName><dynamic>false</dynamic><name>Path Filter Regex</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Ignore Dotted Files</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>If true, files whose names begin with a dot (&quot;.&quot;) will be ignored</description><displayName>Ignore Dotted Files</displayName><dynamic>false</dynamic><name>Ignore Dotted Files</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Strict Host Key Checking</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Indicates whether or not strict enforcement of hosts keys should be applied</description><displayName>Strict Host Key Checking</displayName><dynamic>false</dynamic><name>Strict Host Key Checking</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Host Key File</key><value><description>If supplied, the given file will be used as the Host Key; otherwise, no use host key file will be used</description><displayName>Host Key File</displayName><dynamic>false</dynamic><name>Host Key File</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Connection Timeout</key><value><defaultValue>30 sec</defaultValue><description>Amount of time to wait before timing out while creating a connection</description><displayName>Connection Timeout</displayName><dynamic>false</dynamic><name>Connection Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Data Timeout</key><value><defaultValue>30 sec</defaultValue><description>When transferring a file between the local and remote system, this value specifies how long is allowed to elapse without any data being transferred between systems</description><displayName>Data Timeout</displayName><dynamic>false</dynamic><name>Data Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Send Keep Alive On Timeout</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Indicates whether or not to send a single Keep Alive message when SSH socket times out</description><displayName>Send Keep Alive On Timeout</displayName><dynamic>false</dynamic><name>Send Keep Alive On Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Hostname</key><value>localhost</value></entry><entry><key>Port</key><value>2220</value></entry><entry><key>Username</key><value>nifi</value></entry><entry><key>Password</key></entry><entry><key>Private Key Path</key><value>/Users/jfrazee/Documents/Projects/hortonworks/nifi-master-class/labs/lab3/id_nifi_rsa</value></entry><entry><key>Private Key Passphrase</key></entry><entry><key>Remote Path</key><value>/var/spool/nifi</value></entry><entry><key>Distributed Cache Service</key></entry><entry><key>Search Recursively</key></entry><entry><key>File Filter Regex</key></entry><entry><key>Path Filter Regex</key></entry><entry><key>Ignore Dotted Files</key></entry><entry><key>Strict Host Key Checking</key></entry><entry><key>Host Key File</key></entry><entry><key>Connection Timeout</key></entry><entry><key>Data Timeout</key></entry><entry><key>Send Keep Alive On Timeout</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>ListSFTP</name><relationships><autoTerminate>false</autoTerminate><description>All FlowFiles that are received are routed to success</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>false</supportsParallelProcessing><type>org.apache.nifi.processors.standard.ListSFTP</type></processors><processors><id>65dff444-cf82-44df-b54b-5bc19221cc73</id><parentGroupId>ef124937-ccb2-4c39-8eb5-a23cd22877c6</parentGroupId><position><x>681.5999610528853</x><y>476.3000051327813</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Mode</key><value><allowableValues><displayName>compress</displayName><value>compress</value></allowableValues><allowableValues><displayName>decompress</displayName><value>decompress</value></allowableValues><defaultValue>compress</defaultValue><description>Indicates whether the processor should compress content or decompress content. Must be either 'compress' or 'decompress'</description><displayName>Mode</displayName><dynamic>false</dynamic><name>Mode</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Compression Format</key><value><allowableValues><displayName>use mime.type attribute</displayName><value>use mime.type attribute</value></allowableValues><allowableValues><displayName>gzip</displayName><value>gzip</value></allowableValues><allowableValues><displayName>bzip2</displayName><value>bzip2</value></allowableValues><allowableValues><displayName>xz-lzma2</displayName><value>xz-lzma2</value></allowableValues><allowableValues><displayName>lzma</displayName><value>lzma</value></allowableValues><allowableValues><displayName>snappy</displayName><value>snappy</value></allowableValues><allowableValues><displayName>snappy framed</displayName><value>snappy framed</value></allowableValues><defaultValue>use mime.type attribute</defaultValue><description>The compression format to use. Valid values are: GZIP, BZIP2, XZ-LZMA2, LZMA, Snappy, and Snappy Framed</description><displayName>Compression Format</displayName><dynamic>false</dynamic><name>Compression Format</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Compression Level</key><value><allowableValues><displayName>0</displayName><value>0</value></allowableValues><allowableValues><displayName>1</displayName><value>1</value></allowableValues><allowableValues><displayName>2</displayName><value>2</value></allowableValues><allowableValues><displayName>3</displayName><value>3</value></allowableValues><allowableValues><displayName>4</displayName><value>4</value></allowableValues><allowableValues><displayName>5</displayName><value>5</value></allowableValues><allowableValues><displayName>6</displayName><value>6</value></allowableValues><allowableValues><displayName>7</displayName><value>7</value></allowableValues><allowableValues><displayName>8</displayName><value>8</value></allowableValues><allowableValues><displayName>9</displayName><value>9</value></allowableValues><defaultValue>1</defaultValue><description>The compression level to use; this is valid only when using GZIP compression. A lower value results in faster processing but less compression; a value of 0 indicates no compression but simply archiving</description><displayName>Compression Level</displayName><dynamic>false</dynamic><name>Compression Level</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Update Filename</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>If true, will remove the filename extension when decompressing data (only if the extension indicates the appropriate compression format) and add the appropriate extension when compressing data</description><displayName>Update Filename</displayName><dynamic>false</dynamic><name>Update Filename</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Mode</key></entry><entry><key>Compression Format</key><value>gzip</value></entry><entry><key>Compression Level</key></entry><entry><key>Update Filename</key><value>true</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>CompressContent</name><relationships><autoTerminate>true</autoTerminate><description>FlowFiles will be transferred to the failure relationship if they fail to compress/decompress</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>FlowFiles will be transferred to the success relationship after successfully being compressed or decompressed</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.CompressContent</type></processors></contents><disabledCount>0</disabledCount><inactiveRemotePortCount>0</inactiveRemotePortCount><inputPortCount>0</inputPortCount><invalidCount>0</invalidCount><name>Lab 3: Data Movement</name><outputPortCount>0</outputPortCount><parent><id>7c0dacf2-69dd-4a9e-abc5-a7675185fafc</id><name>Master Class</name><parent><id>23e509e6-948c-43f4-8f92-23b1d02c2cdd</id><name>NiFi Flow</name></parent></parent><runningCount>0</runningCount><stoppedCount>8</stoppedCount></processGroups></snippet><timestamp>05/26/2016 07:02:02 CDT</timestamp></template>